.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 200px;
}

.nav-items {
    padding: 0px 25px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    overflow: hidden;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.res-logo {
    width: 100% 
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}

.login {
    padding: 0 20px;
}

.filter {
    display: flex;
}

.search-box {
    margin-top: 10px;
}